jupyter-client==7.4.8
jupyter-core==5.1.0
jupyter-events==0.5.0
jupyter-server-terminals==0.4.3
jupyter-server==2.0.4
jupyterlab-pygments==0.2.2
jupyterlab-server==2.16.5
jupyterlab==3.5.1
openai
matplotlib==3.7.3
numpy
librosa==0.10.1
torchaudio==2.1.0
notebook
transformers
sentencepiece==0.1.99
datasets[audio]
nemo_toolkit[all]
ipywebrtc
ffmpeg-python==0.2.0
word2number==1.1